<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="NetCoreIdentityServer"
         connectionString="Server=localhost\SQLEXPRESS;Database=NetCoreIdentityServerDB;Trusted_Connection=True;" />-->
    <add name="NetCoreIdentityServer"
         connectionString="User ID=postgres;Password=postgres;Host=localhost;Port=5432;Database=NetCoreIdentityServerDB;Pooling=true;" />
  </connectionStrings>
</configuration>