.ui-font-family {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Helvetica Neue", sans-serif !important;
    font-weight: 100 !important;
}

.ui-colored-font-color {
    color: #0c5f9a !important;
}

.ui-font-color {
    color: #333 !important;
}

.page-header {
    border: none !important;
    margin-left: 25px !important;
}


.ui-button-color {
    background-color: #0c5f9a !important;
    border: 1px solid #0c5f9a !important;
    border-radius: 0px !important;
}

input {
    border-radius: 0px !important;
}

.navbar-inverse {
    background-color: #0c5f9a !important;
    border-color: #0c5f9a !important;
}

.ui-font-size-1-4 {
    font-size: 1.4em !important;
}

.ui-button-middle {
    width: 150px;
    height: 40px;
}

.login-icon {
    background-image: url('/images/icon/Login-01.svg');
    background-repeat: no-repeat;
    padding-left: 50px;
}

.access-settings-icon {
    background-image: url('/images/icon/User_Setting-01-WF.svg');
    background-repeat: no-repeat;
    padding-left: 50px;
}

.personal-info-icon {
    background-image: url('/images/icon/User-01.svg');
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-bottom: 10px;
}

.admin-info-icon {
    background-image: url('/images/icon/User-01.svg');
    background-repeat: no-repeat;
    padding-left: 50px;
    padding-bottom: 10px;
}

.panel-heading {
    background: none !important;
}

.panel-default {
    border: none !important;
}

.rus-lang-icon {
    background-image: url('/images/flags/russia.svg');
}

.kaz-lang-icon {
    background-image: url('/images/flags/kazakhstan (1).svg');
}

.pendos-lang-icon {
    background-image: url('/images/flags/united-states (1).svg');
}

.lang-hover-bgcolor {
    background-repeat: no-repeat;
    padding-left: 64px;
    padding-bottom: 64px;
    padding: 0px 12px 32px 32px;
    border-radius: 50px;
}

.lang-hover-bgcolor:hover {
    background-color: #ccc;
    text-decoration: none !important;
}
