@using NetCoreIdentity.Controllers.Account
@model NetCoreIdentity.Controllers.Account.LoginViewModel

<div class="login-page">
    <div class="page-header">
        <h1 class="ui-font-family ui-colored-font-color">Вход</h1>
    </div>

    @Html.Partial("_ValidationSummary")

    <div>

        @if (Model.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div>
                    <div class="panel-body">

                        <form asp-route="Login">
                            <input type="hidden" asp-for="ReturnUrl" />

                                <div class="form-group">
                                    <input class="form-control ui-font-family ui-font-color" placeholder="Логин" asp-for="Username" autofocus>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control ui-font-family ui-font-color" placeholder="Проль" asp-for="Password" autocomplete="off">
                                </div>
                                @if (Model.AllowRememberLogin)
                                {
                                    <div class="form-group login-remember">
                                        <label asp-for="RememberLogin">
                                            <input asp-for="RememberLogin">
                                            <strong class="ui-font-family ui-font-color">Запомнить меня</strong>
                                        </label>
                                    </div>
                                }
                                <div class="form-group">
                                    <button class="btn btn-primary ui-button-color" name="button" value="login">Войти</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        }

        @if (Model.VisibleExternalProviders.Any())
        {
            <div class="col-md-6 col-sm-6 external-providers">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">External Login</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            @foreach (var provider in Model.VisibleExternalProviders)
                            {
                                <li>
                                    <a class="btn btn-default"
                                       asp-action="ExternalLogin"
                                       asp-route-provider="@provider.AuthenticationScheme"
                                       asp-route-returnUrl="@Model.ReturnUrl">
                                        @provider.DisplayName
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }

        @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
        {
            <div class="alert alert-warning">
                <strong>Invalid login request</strong>
                There are no login schemes configured for this client.
            </div>
        }
    </div>
</div>